.container-llamada {
    background-color: $colorPrincipal;
    min-width: 80%;
    max-width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3vw 1vw;
    gap: 5vh;
    margin: auto;
    border: solid 0.33vw black;
    border-radius: 2vw;

    * {
        margin: auto;
    }
}

.video {
    min-width: 50%;
    margin: 0;
}

.cuadro-llamada {
    background-color: lighten(black, 20%);
    border: solid 2px black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 50vh;
    gap: 1px;
    padding: 3vw 1vw;

    * {
        margin: 0;
        padding: 0;
    }

    img {
        height: 20%;
        object-fit: contain;
    }

    h2 {
        text-align: center;
    }
}

.chat {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.mensajes {
    background-color: white;
    height: 50vh;
    width: 90%;
    border: solid 0.33vw black;
    border-radius: 2vw;
    margin: auto;
}

.envio-mensaje {
    max-width: 90%;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10%;

    #mensaje {
        width: 70%;
        height: 50%;
        display: flex;
        word-break: normal;
        flex-wrap: wrap;
        overflow: visible;
    }

    button {
        width: 50%;
        height: 100%;
        background-color: lighten($colorBoton, 15%);
        border: solid 0.33vw black;
        border-radius: 50%;

        img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
        }
    }
}