body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-login {
  margin: auto;
  border: solid black 0.33vw;
  background-color: $colorPrincipal;
  padding: 1rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem;
  min-height: 55%;
  max-height: 90%;
  min-width: 25%;
  max-width: 50%;
  overflow: auto;
}

h3,
form {
  margin: auto;
}

h3,
label,
p {
  text-align: center;
}

input {
  text-align: center;
  border: solid $colorSecundario 3px !important;
}

input::placeholder {
  text-overflow: ellipsis !important;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}