.container-llamada {
    background-color: $colorPrincipal;
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3vw 1vw;
    gap: 5vh;
    margin: auto;
    border: solid 0.33vw black;
    border-radius: 2vw;

    * {
        margin: auto;
    }
}

.video {
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.cuadro-llamada {
    background-color: lighten(black, 20%);
    border: solid 2px black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50vh;
    gap: 1px;
    padding: 3vw 1vw;
    overflow: auto;

    * {
        margin: auto;
        padding: 0;
    }

    img {
        min-height: 20%;
        height: 20%;
        object-fit: contain;
    }

    h2 {
        text-align: center;
        hyphens: auto;
    }
}

.controles-llamada {
    height: 20%;
    padding: 0.8vw;
    display: flex;
    justify-content: space-between;

    a,
    div {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        border-radius: 50%;
    }

    .boton {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        object-fit: contain;
        border: solid 0.2vw black;
        border-radius: 50%;
        padding: 0.5vw;
        cursor: pointer;
    }

    .colgar {
        background-color: red;
    }

    .mutear,
    .silenciar {
        background-color: white;
    }
}

.chat {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.mensajes {
    background-color: white;
    min-height: 50vh;
    max-height: 50vh;
    width: 90%;
    border: solid 0.33vw black;
    border-radius: 2vw;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1.75vw;

    p {
        word-wrap: normal;
        word-break: break-word;
        hyphens: auto;
    }
}

.envio-mensaje {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    gap: 10%;

    #mensaje {
        width: 70%;
        min-height: 100%;
        max-height: 100%;
        display: flex;
        word-break: normal;
        flex-wrap: wrap;
        overflow: visible;
    }

    button {
        width: 17.5%;
        height: 100%;
        background-color: lighten($colorBoton, 15%);
        border: solid 0.33vw black;
        border-radius: 50%;
        padding: 0;
        display: flex;
        justify-content: center;

        img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
        }
    }
}