.contenido-pagina {
    background-color: $colorPrincipal;
    margin: 3vw auto;
    width: 80%;
    padding: 1vw 3vw;
    border: solid 0.33vw black;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.item {
    background-color: $colorFondoItem;
    padding: 1vw;
    border: solid 0.16vw black;
    border-radius: 2vw;

    h2, h5:not(:last-child) {
        border-bottom: solid 0.16vw black;
        padding-bottom: 1vh;
    }
}