$colorPrincipal: lightskyblue;
$colorSecundario: lightseagreen;
$colorFondo: #083454;
$colorFondoItem: white;
$colorBoton: #3F84E5;
$colorBotonHover: #0040E5;
$colorBorrar: rgb(253, 26, 26);
$colorBorrarHover: rgb(233, 0, 0);