header {
  background-color: $colorPrincipal;
  min-width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  padding: 0.5vh 1vh;
  max-height: 10%;
  align-items: center;
  z-index: 1;
  border-bottom: solid 0.33vw black;

  .datos-header {
    padding: 0;
    width: 20%;
    height: 50%;

    img {
      height: 100%;
      float: left;
    }

    h2 {
      font-size: calc(3.3vh + 0.05rem);
      text-align: left;
      padding: 0;
      margin-left: 7.5vh;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }

  .navbar {
    padding: 0;
    width: 73%;
    height: 50%;
    float: right;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 0.80vw;
    flex-direction: row;
    justify-content: space-around;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: calc(2.75vh + 0.15rem);
      text-align: center;
    }
  }

  .perfil-usuario {
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;

    transition: 1s;

    a {
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 80%;
      }
    }
  }
}

.perfil-usuario:hover {
  transform: scale(1.25);
}

.sticky {
  position: fixed;
  min-width: 100%;
  top: 0;
}