header {
  background-color: lightskyblue;
  min-width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  max-height: 10%;
  align-items: center;
  z-index: 1;
  border-bottom: solid 0.33vw black;
}
header .datos-header {
  padding: 0 1vw;
  width: 20%;
  height: 50%;
}
header .datos-header img {
  height: 100%;
  float: left;
}
header .datos-header h2 {
  font-size: calc(3.3vh + 0.05rem);
  text-align: left;
  padding: 0;
  margin-left: 7.5vh;
  margin-bottom: 0;
  vertical-align: middle;
}
header .navbar {
  padding: 0;
  width: 73%;
  height: 80%;
  float: right;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8vw;
  flex-direction: row;
  justify-content: space-around;
}
header .navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60%;
  max-height: 100%;
  min-width: 100px;
  width: 20%;
  font-size: 3vh;
  text-align: center;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 0.5vw 1.2vw;
  border-radius: 2vw;
  border: solid 0.16vw black;
}
header .navbar a:hover {
  transition: 0.5s;
  transform: scale(1.33);
}
header .perfil-usuario {
  width: 7%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 1s;
}
header .perfil-usuario a {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .perfil-usuario a img {
  height: 80%;
}

.perfil-usuario:hover {
  transform: scale(1.25);
}

.sticky {
  position: fixed;
  min-width: 100%;
  top: 0;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("../img/fondo-body.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #083454;
}

.container {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  height: auto;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  gap: 5vw;
}
.content img {
  position: static;
  max-width: 100%;
  height: auto;
  width: 100%;
  min-width: 10vw;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: center;
}

.card {
  width: 100%;
}

.card-container {
  width: 20rem;
  min-width: 40%;
  max-width: 100%;
}

.text-content {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.content-item {
  background-color: lightskyblue;
  padding: 1vw;
  border: solid 0.33vw black;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 70vw;
  audio-max-width: 60%;
}
.content-item .card {
  border: solid 0.16vw black;
  max-width: 100%;
  height: 100%;
}
.content-item .card .card-img-top {
  max-width: 100%;
  max-height: 50% !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: solid 0.16vw black;
}
.content-item h2,
.content-item .paragraphs {
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: white;
  border: solid 0.16vw black;
  border-radius: 2vw;
  text-align: center;
  align-self: center;
  max-width: 100%;
  word-wrap: normal;
  word-break: break-all;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.content-item h2 {
  max-width: 66%;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}

.video {
  max-width: 33%;
  width: auto;
  height: auto;
}
.video video {
  max-width: 100%;
  height: auto;
  width: auto;
  border: 0.16vw solid black;
}

footer {
  margin-top: auto;
  min-width: 100%;
  height: 10vh;
  box-sizing: border-box;
  padding: 1vh 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkslategrey;
  border-top: solid 0.33vw black;
}
footer p, footer a {
  margin: auto;
  padding: 0;
  font-size: 2.5vh;
  color: white;
}/*# sourceMappingURL=index.css.map */