header {
  background-color: lightskyblue;
  min-width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  max-height: 10%;
  align-items: center;
  z-index: 1;
  border-bottom: solid 0.33vw black;
}
header .datos-header {
  padding: 0 1vw;
  width: 20%;
  height: 50%;
}
header .datos-header img {
  height: 100%;
  float: left;
}
header .datos-header h2 {
  font-size: calc(3.3vh + 0.05rem);
  text-align: left;
  padding: 0;
  margin-left: 7.5vh;
  margin-bottom: 0;
  vertical-align: middle;
}
header .navbar {
  padding: 0;
  width: 73%;
  height: 80%;
  float: right;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8vw;
  flex-direction: row;
  justify-content: space-around;
}
header .navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60%;
  max-height: 100%;
  min-width: 100px;
  width: 20%;
  font-size: 3vh;
  text-align: center;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 0.5vw 1.2vw;
  border-radius: 2vw;
  border: solid 0.16vw black;
}
header .navbar a:hover {
  transition: 0.5s;
  transform: scale(1.33);
}
header .perfil-usuario {
  width: 7%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 1s;
}
header .perfil-usuario a {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .perfil-usuario a img {
  height: 80%;
}

.perfil-usuario:hover {
  transform: scale(1.25);
}

.sticky {
  position: fixed;
  min-width: 100%;
  top: 0;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("../img/fondo-body.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #083454;
}

p {
  font-size: 1.2rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-login {
  margin: auto;
  border: solid black 0.33vw;
  background-color: lightskyblue;
  padding: 1rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem;
  min-height: 55%;
  max-height: 90%;
  min-width: 25%;
  max-width: 50%;
  overflow: auto;
}

h3,
form {
  margin: auto;
}

h3,
label,
p {
  text-align: center;
}

input {
  text-align: center;
  border: solid lightseagreen 3px !important;
}

input::-moz-placeholder {
  text-overflow: ellipsis !important;
}

input::placeholder {
  text-overflow: ellipsis !important;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  margin-top: auto;
  min-width: 100%;
  height: 10vh;
  box-sizing: border-box;
  padding: 1vh 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkslategrey;
  border-top: solid 0.33vw black;
}
footer p, footer a {
  margin: auto;
  padding: 0;
  font-size: 2.5vh;
  color: white;
}/*# sourceMappingURL=login.css.map */