header {
  background-color: lightskyblue;
  min-width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  max-height: 10%;
  align-items: center;
  z-index: 1;
  border-bottom: solid 0.33vw black;
  gap: 0;
}
header * {
  margin: 0;
  padding: 0;
}
header .datos-header {
  padding: 0 1vw;
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .datos-header a {
  height: 100%;
  width: 25%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .datos-header img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
  padding: 0;
}
header .datos-header h2 {
  font-size: calc(3.3vh + 0.05rem);
  text-align: left;
  padding: 0 1vw;
  margin: auto 0;
  height: auto;
  width: 75%;
}
header .navbar {
  padding: 0;
  width: 70%;
  height: 80%;
  float: right;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0.8vw;
       column-gap: 0.8vw;
  row-gap: 10%;
  flex-direction: row;
  justify-content: space-around;
}
header .navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30%;
  max-height: 50%;
  min-width: 16.5vw;
  font-size: min(3vh + 0.15rem, 4vh);
  text-align: center;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 2vh 1.2vw;
  border-radius: 2vw;
  border: solid 0.16vw black;
}
header .navbar a:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.perfil-usuario {
  max-width: 10%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  transition: 1s;
}
.perfil-usuario a {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  border-radius: 50%;
  transition: 1s;
}
.perfil-usuario a img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  box-sizing: border-box;
}
.perfil-usuario a:hover {
  transform: scale(1.25);
}

.sticky {
  position: fixed;
  min-width: 100%;
  top: 0;
}

@media only screen and (max-width: 13in) {
  header {
    height: 15vh;
  }
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("../img/fondo-body.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #083454;
}

p {
  font-size: 1.2rem;
}

.container {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-llamada {
  background-color: lightskyblue;
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3vw 1vw;
  gap: 5vh;
  margin: auto;
  border: solid 0.33vw black;
  border-radius: 2vw;
}
.container-llamada * {
  margin: auto;
}

.video {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.cuadro-llamada {
  background-color: #1a1a1a;
  border: solid 2px black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 50vh;
  gap: 1px;
  padding: 3vw 1vw;
  overflow: auto;
  position: relative;
}
.cuadro-llamada * {
  margin: auto;
  padding: 0;
}
.cuadro-llamada img {
  min-height: 20%;
  height: 20%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cuadro-llamada h2 {
  text-align: center;
  -webkit-hyphens: auto;
          hyphens: auto;
  font-size: 2.5vw;
}

.cuadro-camara {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 25%;
  background-color: black;
  display: flex;
}
.cuadro-camara img {
  filter: invert(65%);
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}

.controles-llamada {
  height: 20%;
  padding: 0.8vw;
  display: flex;
  justify-content: space-between;
}
.controles-llamada a,
.controles-llamada div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.controles-llamada .boton {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border: solid 0.2vw black;
  border-radius: 50%;
  padding: 0.5vw;
  cursor: pointer;
}
.controles-llamada .colgar {
  background-color: red;
}
.controles-llamada .mutear,
.controles-llamada .silenciar {
  background-color: white;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 50%;
  height: 100%;
}

.mensajes {
  background-color: white;
  min-height: 50vh;
  max-height: 50vh;
  width: 90%;
  border: solid 0.33vw black;
  border-radius: 2vw;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.75vw;
}
.mensajes p {
  word-wrap: normal;
  word-break: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}

#mensaje-inicial {
  color: gray;
}

.envio-mensaje {
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.envio-mensaje #mensaje {
  width: 70%;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  word-break: normal;
  flex-wrap: wrap;
  overflow: visible;
}
.envio-mensaje button {
  width: 17.5%;
  height: 100%;
  background-color: #82afee;
  border: solid 0.33vw black;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
}
.envio-mensaje button img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

footer {
  margin-top: auto;
  min-width: 100%;
  height: 10vh;
  min-height: 10vh;
  box-sizing: border-box;
  padding: 1vh 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkslategrey;
  border-top: solid 0.33vw black;
}
footer p, footer a {
  margin: auto;
  padding: 0;
  font-size: 2.5vh;
  color: white;
}/*# sourceMappingURL=sala-citas.css.map */